@model EBS.Data.User

@{
    ViewBag.Title = "ProfilGuncelle";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@Html.Raw(TempData["msg"])

@using (Html.BeginForm("ProfilGuncelle", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken(){


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Profilim</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <img alt="User Pic" src="~/Content/ProfilResimler/@Model.PicturePath" class="img-circle img-responsive"><hr />
                            <input class="text-center" type="file" name="PicturePath" accept="image/*" />
                        </div>


                        <div class="col-md-9 col-lg-9">
                            <table class="table table-user-information table-responsive table-hover">
                                <tbody>
                                    <tr>
                                        <td>Ad:</td>
                                        <td>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "text-center" } })</td>
                                    </tr>
                                    <tr>
                                        <td>Soyad:</td>
                                        <td>@Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "text-center" } })</td>
                                    </tr>
                                    <tr>
                                        <td>Kullanıcı Adı:</td>
                                        <td>@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "text-center" } })</td>
                                    </tr>
                                    <tr>
                                        <td>Parola</td>
                                        <td>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "text-center" } })</td>
                                    </tr>

                                    <tr>
                                        <td>Email</td>
                                        <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "text-center" } })</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <input type="submit" value="Kaydet" class="w3-button w3-lime" />
                </div>

            </div>
        </div>
    }
}