@model IEnumerable<EBS.Data.Message>
<div class="col-md-10 " style="padding:10px;">
    <div class="col-lg-12 panel panel-body panel-info" onload="scrollToBottom(scr)">
        <div id="scroldon" style="max-height:650px; min-height:650px; overflow:auto; background-color:#e5ddd5">
            @foreach (var i in Model)
            {
                <div>
                    @if (i.PostUserID.ToString() == Session["userId"].ToString())
                    {
                        <div class="col-lg-8 col-lg-offset-4 text-right" style="background-color:#dcf8c6; margin-bottom:10px; margin-top:10px; padding:15px; border-radius:5px;">
                            <h4>@i.MessageContent</h4>
                            <div style="font-size:10px">
                                <span class="fa fa-clock-o"></span>    @i.Date
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-lg-8 text-left" style="background-color:#ffffff; margin-bottom:10px; margin-top:10px; margin-left:3px; padding:15px; border-radius:5px; font-size:15px">
                            <h4>@i.MessageContent</h4>
                            <div style="font-size:10px">
                                <span class="fa fa-clock-o"></span>    @i.Date
                            </div>
                        </div>
                    }
                </div>
            }
            <input type="hidden" id="scr" />
        </div>
        <div style="background-color:#e5ddd5; padding-top:10px">
            @using (Html.BeginForm("Create", "Message", FormMethod.Post))
            {
                <div style="padding-bottom:-10px">
                    <div class="col-lg-11">
                        <textarea class="form-control" rows="3" name="yorumyap"></textarea>
                        <input class="form-control" name="idDonucu" style="visibility: hidden" value="@ViewBag.karsiID" />
                    </div>
                    <div class="col-lg-1">
                        <button type="submit" class="w3-button w3-green btn-circle.btn-xl pull-left" style="width:70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;">
                            <span class="fa fa-fast-forward"></span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function scrollToBottom(e) {
        e.scrollTop = e.scrollHeight - e.getBoundingClientRect().height;
    }
</script>