@model IEnumerable<EBS.Data.Issue>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@helper Truncate(string input, int length)
{

if (input.Length <= length)
{

        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

<div class="col-sm-3">

    <button type="button" id="ekle" onclick="bas()" class="btn btn-primary">Görev Oluştur</button>

    <div class="panel panel-info col-lg-12 col-md-10 " style="padding-top:10px;">

        <div class="panel-heading"> @ViewBag.ProjeAdi</div>
        <div>
            <ul class="nav navbar-nav">
                <li class="">

                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Filtrele <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                       
                            <li><a href="@Url.Action("Details","Project",new { id = ViewBag.ProjeId})"> Tüm Görevler</a></li>
                            <li><a href="@Url.Action("Details","Project",new { id = ViewBag.ProjeId, sorguID = 1 })"> Tamamlanmış Görevler</a></li>
                            <li><a href="@Url.Action("Details","Project",new { id = ViewBag.ProjeId, sorguID = 2 })"> Tamamlanmamış Görevler</a></li>
                            <li><a href="@Url.Action("Details","Project",new { id = ViewBag.ProjeId, sorguID = 3 })"> Görevlerim</a></li>
                        
                        
                    </ul>
                </li>
            </ul>
        </div>
        <table class="table table-hover col-lg-12 col-md-10 " style="cursor:pointer">
            <tr>
                <th>
                    Görev Öncelik
                </th>
                <th>
                    Statü
                </th>
                <th>
                    Ad
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="tr" id="tr" onclick="callAjax(@item.ID)">
                    <td>
                        <span class="label label-@item.Priority.Symbol">@item.Priority.Name</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
                    <td>
                        @Truncate(item.Name, 25)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ekleFormu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Görev Ekle</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderAction("CreateModal", "Issue", new { projeId = ViewBag.ProjeId, issueId = 0 });
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<style>
    tr:hover, tr.selected{
        background-color: #ddd;
    }
</style>

<script>
    function bas() {
        $("#ekleFormu").modal("show");
    }
    function callAjax(param) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Details", "Issue")',
            content: "application/json; charset=utf-8",
            dataType: "html",
            data: { 'id': param },
            success: function (d) {
                if (d != null)
                    $('#partialDiv').html(d);
                else {
                    alert('başarısız');
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('bir hata meydana geldi');
            }
        });
    }
    $("tr").click(function () {
        $(this).addClass("selected").siblings().removeClass("selected");
    });
    $('#ekle').click(function () {
        $("#ekleFormu").modal("show");
    });
</script>
<div class="col-sm-9" id="partialDiv">
    @{
        Html.RenderAction("Details", "Issue", new { id = ViewBag.gorevGetir });
    }
</div>